body {
    overflow: auto;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .centrar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 40px 0px;
  }
  .edu7{
    color: white;
    font-size: 30px;
    text-align: center;
    
  }
.contenido{
    height: 300px;
    border-radius: 24px;
    background-color: white;
}


.horario .contenido{
    height: 75vh;
   
}
.horario {
    z-index: 1;
   
}
h1, h2, h3, h4{
    color: #121138;
}
.lista{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: white;
   border-radius: 15px;
   padding: 15px 20px;
   margin-top: 10px;

}
.deco-none{
  text-decoration: none;
}
.pointer{
  cursor: pointer;
  color: black;
}

.negro{
  color: #121138;
}
.purple{
  background-color: #DCD2F4;
}
.img img{
  width: 300px;
  height: 300px;
}



